html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form{
  margin: 100px 200px 50px 200px;
  display: flex;
  flex-direction: column;
}

input[type=text]{
  width: 100%;
  height: 100px;
  text-align: start;
}
button{
  margin: 10px;
  margin-left: 1087px;
  width: 50px;
}
.posts{

  margin: 0px 200px;
}

.post{
  margin: 10px 0px;
  border: 1px solid;
  padding: 10px;
  border-color: black;
}